/* css reset */
body, h1, dl, dd{
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	vertical-align: top;
}
i {
	font-style: normal;
}
input {
	border: none;
	border-radius: 16px;
	outline: none;
	padding: 0;
}
/* tools */
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
/* global */
html,body {
	height: 100%;
}
body {
	font: 14px 'Microsoft Yahei';
	overflow-y: hidden;
	min-width: 1080px;
	overflow-x: auto;
}
input {
	font: 14px 'Microsoft Yahei';
}
.head {
	height: 62px;
	background-color: #eff4f8;
	padding: 0 20px;
}
.head .logo {
	margin-top: 15px;
}
.head .logo a {
	display: block;
	width: 142px;
	height: 32px;
	overflow: hidden;
	background: url(../img/logo.png) no-repeat;
}
.head .user {
	padding-top: 15px;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
}
.user .img_wrap {
	width: 34px;
	height: 34px;
	border: 2px solid #dce1e5;
	border-radius: 17px;
	margin-right: 10px;
	overflow: hidden;
}
.user .img_wrap img {
	width: 100%;
}
.head .user i{
	display: inline-block;
	font-family: '仿宋';
	font-weight: bold;
	transform: rotate(90deg);
	margin-left: 10px;
}
.content {
	background-color: #eff4f8;
	height: calc(100% - 62px);
}
.content .side {
	position: absolute;
	top: 62px;
	left: 0;
	width: 214px;
	height: calc(100% - 72px);
	background-color: #eff4f8;
	overflow: auto;
}
.content .main {
	margin-right: 10px;
	height: 100%;
	border-radius: 8px;
}
.side .toc {
	padding-top: 10px;
}
.toc > li > a {
	position: relative;
	display: block;
	line-height: 40px;
	/*padding-left: 30px;*/
}
.toc > li > a i{
	margin-top: 8px;
}
.toc a{
	position: relative;
	display: block;
	line-height: 34px;
	color: #333;
	white-space: nowrap;
}
/* .toc ul{
	display: none;
}
.toc ul.active{
	display: block;
} */
.toc a.select,.toc a:hover{
	background-color: #e4e9ec;
	color: #3e8eff;
}
.toc a.select i,.toc a.active i{
	background-position: -22px 0;
}
.toc a i{
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 22px;
	margin-top: 5px;
	margin-right: 10px;
	background: url(../img/folder_onOff.png) no-repeat 0 0/auto 100%;
}
/* .toc ul a{
	padding-left: 50px;
} */
.content .main {
	margin-left: 214px;
	border: 1px solid #d8dfea;
	background-color: #fff;
}
.main .main_hd{
	padding: 14px 15px;
}
.file_opt a {
	padding: 0 12px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #c0d9fe;
	text-align: center;
	color: #3e8eff;
}
.opt_new {
	margin-right: 9px;
	border-radius: 5px;
}
.opt_other a {
	margin-right: -1px;
}
.opt_other a:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.opt_other a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.file_opt a:hover{
	opacity: .7;
}
.file_view .view_order {
	position: relative;
}
.file_view .view_order:before{
	content: '';
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/view_order.png) no-repeat center/auto 26px;
}
.file_view .view_list{
	width: 32px;
	height: 32px;
	background: url(../img/view_list.png) no-repeat 0 center/auto 100%;
}
.file_view .view div.active{
	background-position: -32px center;
}
.file_view input{
	height: 32px;
	background-color: #f1f2f4;
	padding: 0 20px;
	width: 180px;
}
.file_view .view .view_opt{
	margin: 0 10px;
	cursor: pointer;
}
.view_order .orderOpt {
	position: absolute;
	top: 38px;
	right: 0;
	border: 1px solid #c0d9fe;
	width: 100px;
	line-height: 28px;
	text-indent: 32px;
	color: #4b95ff;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
	background-color: #fff;
}
.orderOpt li:hover {
	background-color: #eff4f8;
}
.main_con {
	height: calc(100% - 64px);
}
.main_con .info {
	font-size: 12px;
	line-height: 16px;
	padding: 0 15px;
	margin-bottom: 10px;
}
.main_con .info a{
	color: #3e8eff;
}
.main_con .info i{
	font-family: '仿宋';
	margin: 0 3px;
}
.local .back:after{
	content: '';
	display: inline-block;
	vertical-align: bottom;
	width: 2px;
	height: 14px;
	background-color: #ddd;
	margin: 0 3px;
}
.local .local_info a:not(:last-child):after{
	content: '>';
	display: inline-block;
	vertical-align: bottom;
	font-family: '仿宋';
	margin: 0 5px;
	color: #333;
}
.local .local_info a:last-child{
	color: #333;
}
.main_con .sel_col{
	padding-left: 15px;
	font-size: 12px;
	line-height: 32px;
	color: #333;
	height: 34px;
}
.checkbox {
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 12px;
	border: 1px solid #d6dce4;
	text-align: center;
	line-height: 12px;
	border-radius: 2px;
	cursor: pointer;
}
.sel_col .sel_all{
	width: 60%;
}
.sel_col .sel_other{
	width: 40%;
}
.sel_col div.active{
	display: none;
}
.sel_other .sel_time{
	width: 60%;
	text-indent: 20px;
}
.sel_col .checkbox{
	margin-right: 13px;
	margin-top: 10px;
}
.folder_wrap{
	position: relative;
	height: calc(100% - 61px);
	overflow:auto;
	border-top: 1px solid #f2f6fd;
	font-size:12px;
}
.folder_wrap .folders{
	position: relative;
	/*float: left;*/
	/*width: calc(100% - 25px);*/
}
.folder_wrap .folders li a{
	color: #333;
	height: 26px;
	line-height: 26px;
}
.folder_wrap .folders li a:hover{
	color: #3e8eff;
}
.act_list0 {
	padding-left: 3px;
}
.act_list0 li{
	position: relative;
	float: left;
	width: 120px;
	height: 127px;
	text-align: center;
	border: 1px solid transparent;
	margin: 3px;
	border-radius: 8px;
}
.act_list0 li:hover, .act_list0 li.active{
	background-color: #eee;
	border-color: pink;
}
.act_list0 li .fld_img{
	display: block;
	margin: 20px auto 16px;
	width: 56px;
	height: 56px;
	background: url(../img/folder.png) no-repeat;
}
.act_list0 li i{
	position: absolute;
	top: 8px;
	left: 8px;
	width: 20px;
	height: 20px;
	border-radius: 9px;
	background-color: #b0d1ff;
	text-align: center;
	line-height: 20px;
	color: #fff;
	cursor: pointer;
	border: none;
	display: none;
}
.act_list0 li .fld_more{
	display: none;
}
.act_list0 li:hover .fld_info .checkbox,.act_list0 li.active .fld_info .checkbox{
	display: block;
}
.act_list0 .fld_info .checkbox:hover{
	background-color: #3e8eff;
}
.act_list0 li a{
	display: block;
}
.act_list1 li{
	height: 44px;
	border-bottom: 1px solid #f7f6fb;
	line-height: 44px;
	padding-left: 15px;

}
.act_list1 li.active {
	background-color: #eff4f8;
}
.act_list1 li span,.act_list1 li a{
	float: left;
}
.act_list1 li a {
	margin-top: 9px;
	padding-left: 5px;
}
.act_list1 li .fld_img{
	width: 26px;
	height: 26px;
	background: url(../img/floder_s.png) no-repeat;
	margin-right: 12px;
	margin-top: 9px;
}
.act_list1 li i{
	float: left;
	margin-top: 15px;
	margin-right: 13px;
}
.act_list1 .fld_info,.act_list1 .fld_more{
	float: left;
}
.act_list1 .fld_info{
	width: 60%;
	height: 100%;
}

.act_list1 li .fld_more{
	display: block;
	width: 40%;
}
.act_list1 li time{
	float: right;
	width: 60%;
}
.cg_name{
	position: absolute;
	left: 0;
	top: 0; 
	display: none;
}
.cg_name form, .cg_name .cg_opt{
	float: left;
}
.cg_name input {
	width: 90px;
	height: 24px;
	padding: 0 5px;
	border: 1px solid #999;
	border-radius: 2px;
	margin-right: 5px;
	font-size: 12px;
	box-sizing: border-box;
	
}
.cg_name input.inp0{
	width: 120px;
	text-align: center;
}
.cg_opt a{
	float: left;
	width: 26px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-family: '仿宋';
	border: 1px solid #c0d9fe;
	border-radius: 2px;
}
.cg_opt a:not(:last-child){
	margin-right: 3px;
}
.rightMenu{
	position: absolute;
	top: 100px;
	left: 100px;
	border: 1px solid #c0d9fe;
	line-height: 26px;
	border-radius: 5px;
	background-color: #fff;
}
.rightMenu li{
	padding: 0 8px;
	cursor: pointer;
	overflow: hidden;
	min-width: 60px;
	text-indent: 10%;
}
.rightMenu li:hover{
	background-color: #f1f1f1;
}
.tips {
	position: absolute;
	left: 50%;
	top: -42px;
	transform: translateX(-50%);
	padding: 0 30px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #c0d9fe;
	background-color: #fff;
	text-align: center;
	border-radius: 5px;
	opacity: 0;
}
.tips.active{
	display: block;
}
.move {
	position: absolute;
	left: 50%;
	/*top: 50%;*/
	/*top: -446px;*/
	top: 100px;
	opacity: 0;
	display: none;
	transform: translateX(-50%);
	border: 1px solid #c0d9fe;
	background-color: #fff;
	border-radius: 8px;
	width: 400px;
}
.move header {
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	border-bottom: 1px solid #c0d9fe;
}
.move .move_wrap{
	background-color: #fff;
	padding: 12px;
	max-height: 362px;
	overflow-y:auto;
}
.move_toc a.select{
	color: #3e8eff;
}
.move_toc a{
	position: relative;
	line-height: 26px;
	color: #333;
}
.move_toc a i{
	position: absolute;
	width: 20px;
	height: 20px;
	margin-top: 3px;
	background: url(../img/folder_onOff.png) no-repeat 0 0/auto 100%;
}
.verify {
	border-top: 1px solid #c0d9fe;
	height: 40px;
}
.conOpt{
	float: right;
	margin-top: 5px;
}
.conOpt input{
	float: left;
	padding: 5px 15px;
	margin-right: 20px;
	border: 1px solid #c0d9fe;
	background-color: #fff;
	color: #3e8eff;
	border-radius: 6px;
}
.conOpt input:hover {
	background-color: #3e8eff;
	color: #fff;
}
.moveSure {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	border: 1px solid #c0d9fe;
	width: 300px;
	border-radius: 5px;
	padding-bottom: 12px;
	background-color: #fff;
	opacity: 0;
	display: none;
}
.moveSure .cover {
	padding: 20px 15px;
	text-align: center;
}