/* css reset */
body, h1, dl, dd{
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	vertical-align: top;
}
i {
	font-style: normal;
}
input {
	border: none;
	border-radius: 16px;
	outline: none;
}
/* tools */
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
/* global */
html,body {
	height: 100%;
}
body {
	font: 14px 'Microsoft Yahei';
	overflow-y: hidden;
	min-width: 1080px;
	overflow-x: auto;
}
input {
	font: 14px 'Microsoft Yahei';
}
.head {
	height: 62px;
	background-color: #eff4f8;
	padding: 0 20px;
}
.head .logo {
	margin-top: 15px;
}
.head .logo a {
	display: block;
	width: 142px;
	height: 32px;
	overflow: hidden;
	background: url(../img/logo.png) no-repeat;
}
.head .user {
	padding-top: 15px;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
}
.user .img_wrap {
	width: 34px;
	height: 34px;
	border: 2px solid #dce1e5;
	border-radius: 17px;
	margin-right: 10px;
	overflow: hidden;
}
.user .img_wrap img {
	width: 100%;
}
.head .user i{
	display: inline-block;
	font-family: '仿宋';
	font-weight: bold;
	transform: rotate(90deg);
	margin-left: 10px;
}
.content {
	background-color: #eff4f8;
	height: calc(100% - 62px);
}
.content .side {
	position: absolute;
	top: 62px;
	left: 0;
	width: 214px;
	height: calc(100% - 72px);
	background-color: #eff4f8;
	overflow: auto;
}
.content .main {
	margin-right: 10px;
	height: 100%;
	border-radius: 8px;
}
.side .type {
	padding-top: 10px;
}
.toc_wrap a{
	text-indent: 26px;
	line-height: 32px;
}
.type_li a{
	position: relative;
	display: block;
	color: #333;
	white-space: nowrap;
}
.type ul{
	padding-left: 36px;
}
.type a:hover{
	color: #3e8eff;
}
.type_all a i{
	position: absolute;
	left: 0;
	top: 4px;
	width: 22px;
	height: 22px;
	background: url(../img/folder_opt.png) no-repeat 0 0/auto 100%;
}
.toc_wrap a{
	padding-left: 10px;
}
.type_li > a{
	text-indent: 56px;
	line-height: 40px;
}
.type_li > a.active{
	background-color: #e4e9ec;
}
.type_li > a:hover{
	background-color: #e4e9ec;
}
.type_li > a i{
	left: 20px;
	top: 8px;
}
.type_all a.active i{
	background-position: -22px 0;
}
.type_all > a i{
	background: url(../img/folder_opt.png) no-repeat 0 0/auto 100%;
}
/*
.type_img > a i{
	background: url(../img/folder_img.png) no-repeat 0 0/auto 100%;
}
.type_music > a i{
	background: url(../img/folder_music.png) no-repeat 0 0/auto 100%;
}
.type_other > a i{
	background: url(../img/folder_other.png) no-repeat 0 0/auto 100%;
} */
.content .main {
	margin-left: 214px;
	border: 1px solid #d8dfea;
	background-color: #fff;
}
.main .main_hd{
	padding: 14px 15px;
}
.file_opt a {
	padding: 0 12px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #c0d9fe;
	text-align: center;
	color: #3e8eff;
}
.opt_new {
	margin-right: 9px;
	border-radius: 5px;
}
.opt_other a {
	margin-right: -1px;
}
.opt_other a:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.opt_other a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.file_opt a:hover{
	opacity: .7;
}
.file_view .view_order {
	position: relative;
}
.file_view .view_order:before{
	content: '';
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/view_order.png) no-repeat center/auto 26px;
}
.file_view .view_list{
	width: 32px;
	height: 32px;
	background: url(../img/view_list1.png) no-repeat center/auto 26px;
}
.file_view input{
	height: 32px;
	background-color: #f1f2f4;
	padding: 0 20px;
	width: 180px;
}
.file_view .view .view_opt{
	margin: 0 10px;
	cursor: pointer;
}
.view_order .orderOpt {
	position: absolute;
	top: 38px;
	right: 0;
	border: 1px solid #c0d9fe;
	width: 100px;
	line-height: 28px;
	text-indent: 32px;
	color: #4b95ff;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
	background-color: #fff;
}
.orderOpt li:hover {
	background-color: #eff4f8;
}
.main_con {
	height: calc(100% - 64px);
}
.main_con .info {
	font-size: 12px;
	line-height: 16px;
	padding: 0 15px;
	margin-bottom: 10px;
}
.main_con .info a{
	color: #3e8eff;
}
.main_con .info i{
	font-family: '仿宋';
	margin: 0 3px;
}
.local .back:after{
	content: '';
	display: inline-block;
	vertical-align: bottom;
	width: 2px;
	height: 14px;
	background-color: #ddd;
	margin: 0 3px;
}
.main_con .sel_col{
	padding-left: 15px;
	font-size: 12px;
	line-height: 32px;
	color: #333;
	height: 34px;
}
.checkbox {
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 12px;
	border: 1px solid #d6dce4;
	text-align: center;
	line-height: 12px;
	border-radius: 2px;
	cursor: pointer;
}
.sel_col .sel_all{
	width: 60%;
}
.sel_col .sel_other{
	width: 40%;
	display: none;
}
.sel_other .sel_time{
	width: 60%;
	text-indent: 20px;
}
.sel_col .checkbox{
	margin-right: 13px;
	margin-top: 10px;
}
.folder_wrap{
	height: calc(100% - 61px);
	overflow:auto;
	border-top: 1px solid #f2f6fd;
	font-size:12px;
}
.folder_wrap ul{
	/*float: left;*/
	/*width: calc(100% - 25px);*/
}
.folder_wrap ul li a{
	color: #333;
}
.folder_wrap ul li a:hover{
	color: #3e8eff;
}
.act_list0 {
	padding-left: 3px;
}
.act_list0 li{
	position: relative;
	float: left;
	width: 120px;
	height: 127px;
	text-align: center;
	border: 1px solid transparent;
	margin: 3px;
	border-radius: 8px;
}
.act_list0 li:hover{
	background-color: #eee;
	border-color: pink;
}
.act_list0 li .fld_img{
	display: block;
	margin: 20px auto;
	width: 56px;
	height: 56px;
	background: url(../img/folder.png) no-repeat;
}
.act_list0 li i{
	position: absolute;
	top: 8px;
	left: 8px;
	width: 20px;
	height: 20px;
	border-radius: 9px;
	background-color: #b0d1ff;
	text-align: center;
	line-height: 20px;
	color: #fff;
	cursor: pointer;
	border: none;
	display: none;
}
.act_list0 li .fld_more{
	display: none;
}
.act_list0 li:hover .fld_info .checkbox{
	display: block;
}
.act_list0 .fld_info .checkbox:hover{
	background-color: #3e8eff;
}
.act_list1 li{
	height: 44px;
	border-bottom: 1px solid #f7f6fb;
	line-height: 44px;
	padding-left: 15px;

}
.act_list1 li span,.act_list1 li a{
	float: left;
}
.act_list1 li .fld_img{
	width: 26px;
	height: 26px;
	background: url(../img/floder_s.png) no-repeat;
	margin-right: 12px;
	margin-top: 9px;
}
.act_list1 li i{
	float: left;
	margin-top: 15px;
	margin-right: 13px;
}
.act_list1 .fld_info,.act_list1 .fld_more{
	float: left;
}
.act_list1 .fld_info{
	width: 60%;
}

.act_list1 li .fld_more{
	display: block;
	width: 40%;
}
.act_list1 li time{
	float: right;
	width: 60%;
}